<!DOCTYPE html>
{% extends 'expense_app/base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>Expense History</title>
{% endblock %}
{% block content %}
<h2>Pending History</h2>
<table id="expense">
  <tr>
    <th>Time</th>
    <th>Employee</th>
    <th>Reason</th>
    <th>Status</th>
      <th> </th>
  </tr>
	<tr>
  {% for expense in object_list %}
  </tr>
    <tr>
        <td>{{ expense.time}}</td>
        <td>{{ expense.employee }}</td>
        <td>{{ expense.get_reason_display }}</td>
        <td>{{expense.get_status_display}}</td>
        <td><a href="{% url 'expenseview' expense.id %}"><button>View</button></a></td>
        
        
    </tr>
  {% endfor %}

</table>
{% endblock %}