<!DOCTYPE html>
{% extends 'expense_app/base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>Claim #{{expense.id}}</title>
{% endblock %}

{% block content %}
<h2>Expense #{{expense.id}}</h2>
<table id="expense">
  <tr>
    <th>Time:</th>
    <td>{{expense.time}}</td>
  </tr>  
  <tr>
    <th>Employee:</th>
    <td>{{expense.employee}}</td>
  </tr>  
  <tr>
    <th>Amount:</th>
    <td>{{expense.expense_amount}}</td>
  </tr>   
  <tr>
    <th>Catagory:</th>
    <td>{{expense.get_catagory_display}}</td>
  </tr> 
  <tr>
    <th>Information:</th>
    <td>{{expense.information}}</td>
  </tr>    
  <tr>
    <th>Status:</th>
    <td>{{expense.get_status_display}}</td>
  </tr> 
  <tr>
    <th>Comment:</th>
    <td>{{expense.manager_comment}}</td>
  </tr>                             
</table>
<h2>Approval Needed:</h2>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
  </form>
</form>
<a href="{% url 'review' %}"><button>Back</button></a>
{% endblock %}