<!DOCTYPE html>
{% extends 'expense_app/base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>Expense #{{expense.id}}</title>
{% endblock %}

{% block content %}
<h2>Expense #{{expense.id}}</h2>
<table id="expense">
  <tr>
    <th>Created at:</th>
    <td>{{expense.time}}</td>
  </tr>  
  <tr>
    <th>Employee:</th>
    <td>{{expense.employee}}</td>
  </tr>  
  <tr>
    <th>Expense date:</th>
    <td>{{expense.expense_date}}</td>
  </tr>   
  <tr>
    <th>Amount:</th>
    <td>{{expense.expense_amount}}</td>
  </tr>   
  <tr>
    <th>VAT amount:</th>
    <td>{{expense.VAT_amount}}</td>
  </tr>   
  <tr>
    <th>Currency:</th>
    <td>{{expense.currency}}</td>
  </tr>    
  <tr>
    <th>Catagory:</th>
    <td>{{expense.get_catagory_display}}</td>
  </tr> 
  <tr>
    <th>persons_seen:</th>
    <td>{{expense.persons_seen}}</td>
  </tr> 
  <tr>
    <th>Information:</th>
    <td>{{expense.information}}</td>
  </tr>    
  <tr>
    <th>Status:</th>
    <td>{{expense.get_status_display}}</td>
  </tr> 
  <tr>
    <th>Comment:</th>
    <td>{{expense.manager_comment}}</td>
  </tr>                             
</table>
<a href="{% url 'history' %}"><button>Back</button></a>
{% endblock %}