<!DOCTYPE html>
{% extends 'expense_app/base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>Expense History</title>
{% endblock %}
{% block content %}
<h2>My Expense History</h2>
<table id="expense">
  <tr>
    <th>Created at</th>
    <th>Expense #</th>
    <th>Catagory</th>
    <th>Status</th>
      <th> </th>
  </tr>
	<tr>
  {% for expense in object_list %}
  {% if expense.employee == request.user %}
  </tr>
    <tr>
        <td>{{ expense.time}}</td>
        <td>{{ expense.id}}</td>
        <td>{{ expense.get_catagory_display }}</td>
        <td>{{expense.get_status_display}}</td>
        <td><a href="{% url 'expenseview' expense.id %}"><button>View</button></a></td>
        
        
    </tr>
  {% endif %}
  {% endfor %}

</table>
{% endblock %}