<!DOCTYPE html>
{% extends 'expense_app/base.html' %}
{% load auth_extras %}
<html lang="en">
{% block head %}
   <meta charset="UTF-8">
   <title>Expense Home</title>
{% endblock %}

{% block content %}

<head>
   <style>
 h1 {
   color: blue;
   font-family: verdana;
 }
   </style>
 </head>
 
   <h1>Welcome! {{ name }}</h1>


<a href="{% url 'submission' %}" style = "text-decoration: none"><button style = "display: block">Submit Expense</button></a>
{% if request.user|has_group:"Manager" or  request.user.is_superuser %}
<a href="{% url 'review' %}" style = "text-decoration: none"><button style = "display: block">Review Expenses</button></a>
{% endif %}
<a href="{% url 'history' %}" style = "text-decoration: none"><button style = "display: block">My Expense History</button></a>
<a href="{% url 'drafts' %}" style= "text-decoration: none"><button style = "display: block">Draft History</button></a>
{% if request.user.is_superuser %}
<a href="{% url 'accepted' %}" style= "text-decoration: none"><button style = "display: block">Approved Expenses</button></a>
{% endif %}
{% endblock %}
</body>
</html>