<!DOCTYPE html>
{% extends 'expense_app/base.html' %}

{% block head %}
<meta charset="UTF-8">
<title>Update Draft</title>
{% endblock %}

{% block content %}
<a href="{% url 'drafts' %}"><button>Back</button></a>
<form action="" method="POST" enctype="multipart/form-data">
<table>
    {% csrf_token %}
    {{ form.as_table }}
    <td>
    <input type="submit" value="Save Draft" name="Save Draft">
    </td>
    <td>
    <input type="submit" value="Submit" name="Submit">
    </td>
</table>    
  </form>
</form>

{% endblock %}